@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato-Black";
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato-Light";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-Medium";
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: "Lato-Semibold";
    src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url(../fonts/OpenSans-Semibold.ttf);
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: "OpenSans-Regular";
    color: #666666;
    font-size: 18px;
}

body {
    overflow: hidden;
    overflow-y: auto;
    font-family: "OpenSans-Regular";
}

/* widget whatsappp */
#icon-close-widget {
    color: white;
    width: 50px;
}

.wrapper-floating {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    z-index: 9999999;
    right: 0px;
    left: auto;
}

.floating {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 24px 0px;
    display: none;
    flex-direction: column;
    width: 360px;
    background-color: rgba(255, 255, 255);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    touch-action: auto;
    margin-bottom: 96px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: auto;
    margin-right: 16px;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.3s ease 0s, margin 0.3s ease 0s, visibility 0.3s ease 0;
    z-index: 2;
}

@media (max-width: 375px) {
    .floating {
        width: 290px;
    }
}

.floating-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    outline: transparent;
}

.floating-header-comp {
    color: rgb(17, 17, 17);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(9, 94, 84);
    padding: 24px 20px;
}

.floating-header-foto {
    width: 52px;
    height: 52px;
    display: block;
    position: relative;
    flex-shrink: 0;
}

.floating-header-foto::before {
    content: "";
    bottom: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background-color: rgb(74, 213, 4);
    display: block;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(9, 94, 84);
    border-image: initial;
}

.floating-foto-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.floating-foto {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-size: cover;
    background-image: url(../images/favicon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.floating-header-name {
    margin-left: 16px;
    margin-right: 16px;
}

.name-floating {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.status-floating {
    font-size: 13px;
    line-height: 18px;
    margin-top: 4px;
    color: rgb(255, 255, 255);
}

.floating-pattern-comp {
    background-color: rgb(230, 221, 212);
    position: relative;
    padding: 20px 20px 20px 10px;
}

.floating-pattern-comp::before {
    display: block;
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.08;
    background-image: url(../images/whatsapp-back.png);
}

.floating-pattern-container {
    display: flex;
    z-index: 2;
}

.whatsapp-content {
    opacity: 1;
    left: 70px;
    background-color: rgb(255, 255, 255);
    position: relative;
    transform-origin: center top;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
    padding: 7px 14px 6px;
    border-radius: 0px 8px 8px;
    transition: all 0.3s ease 0s;
}

.whatsapp-content::before {
    position: absolute;
    background-image: url(../images/whatsapp-chat.webp);
    background-size: contain;
    content: "";
    top: 0px;
    left: -12px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.whatsapp-name {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.whatsapp-text {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.whatsapp-time {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(17, 17, 17, 0.5);
    margin-right: -8px;
    margin-bottom: -4px;
}

.floating-button-comp {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-appearance: none;
    padding: 8px 12px;
    border-radius: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(79, 206, 93);
    margin: 20px;
    overflow: hidden;
}

.icon-button-comp {
    width: 16px;
    height: 16px;
    fill: rgb(255, 255, 255);
    z-index: 1;
    flex: 0 0 16px;
}

.text-button-comp {
    margin-left: 8px;
    margin-right: 8px;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.floating-bubble {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    width: 60px;
    border-radius: 50%;
    outline: transparent;
}

.floating-bubble::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    display: block;
    position: absolute;
    z-index: 1;
    right: 4px;
    top: 4px;
    border-radius: 50%;
}

.floating-textarea-comp {
    display: flex;
    align-items: center;
}

.floating-textarea-comp textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px;
    width: 93%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    height: 50px;
}

.textarea-send-chat {
    margin-right: 10px;
    cursor: pointer;
}